@import (reference) '../../styles/variables';

@cReset: #A03;

.button {
    background-color: @buttonColorBackground;
    border: @buttonBorderThickness solid @buttonColorBorder;
    border-radius: @buttonBorderRadius;
    box-sizing: border-box;
    color: @buttonColor;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 600;
    height: @buttonHeight;
    min-width: 7rem;
    outline: none;
    padding: 0 1.4rem;
    position: relative;
    text-transform: uppercase;
    transition: color @animationDelayControl linear, background-color @animationDelayControl linear, border-color @animationDelayControl linear;
    white-space: nowrap;
    &:hover {
        background-color: @buttonColorHoverBackground;
        border-color: @buttonColorHoverBorder;
        color: @buttonColorHover;
    }
    &:active {
        background-color: @buttonColorActiveBackground;
        border-color: @buttonColorActiveBorder;
        color: @buttonColorActive;
    }
    &:disabled {
        background-color: @buttonColorDisabledBackground;
        border-color: @buttonColorDisabledBorder;
        color: @buttonColorDisabled;
        cursor: default;
        pointer-events: none;
        &:hover {
            background-color: @buttonColorDisabledBackground;
            border-color: @buttonColorDisabledBorder;
            color: @buttonColorDisabled;
        }
    }
    // SIZES
    &_size_auto {
        width: 100%;
    }
    // TYPES
    // Reset
    &_type_reset {
        background-color: @cReset;
        &:hover {
            background-color: darken(@cReset, 3%);
        }
        &:active {
            background-color: @buttonColorActiveBackground;
            border-color: @buttonColorActiveBorder;
        }
    }
}
