@import (reference) '../../styles/variables';

@cReset: #A03;

.button {
    background-color: @cButtonBackground;
    border: 2px solid @cButtonBorder;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 600;
    height: @hControl * 1.1;
    line-height: 1;
    min-width: 7rem;
    outline: none;
    padding: 0.9rem 1.4rem 0.8rem;
    position: relative;
    text-transform: uppercase;
    transition: color @dControl linear, background-color @dControl linear, border-color @dControl linear;
    white-space: nowrap;
    &:hover {
        background-color: @cButtonHoverBackground;
    }
    &:active {
        background-color: @cButtonActiveBackground;
        border-color: @cButtonActiveBorder;
    }
    &:disabled {
        background-color: @cButtonDisabledBackground;
        border-color: @cButtonDisabledBorder;
        color: @cButtonDisabledBorder;
        cursor: default;
        pointer-events: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
    // TYPES
    // Reset
    &_type_reset {
        &:hover {
            background-color: @cButtonHoverBackground;
        }
        &:active {
            background-color: @cReset;
            border-color: @cReset;
        }
    }
}
