@import (reference) '../../styles/variables';

.button {
    background-color: @buttonBackgroundColor;
    border: @buttonBorderThickness solid @buttonBorderColor;
    border-radius: @buttonBorderRadius;
    box-sizing: border-box;
    color: @buttonForegroundColor;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 600;
    height: @buttonHeight;
    min-width: 7rem;
    outline: none;
    padding: 0 1.4rem;
    position: relative;
    text-transform: uppercase;
    transition: color @dDefault linear, background-color @dDefault linear, border-color @dDefault linear;
    white-space: nowrap;
    &:hover {
        background-color: @buttonBackgroundColorHover;
        border-color: @buttonBorderColorHover;
        color: @buttonForegroundColorHover;
    }
    &:active {
        background-color: @buttonBackgroundColorActive;
        border-color: @buttonBorderColorActive;
        color: @buttonForegroundColorActive;
    }
    &:disabled {
        background-color: @buttonBackgroundColorDisabled;
        border-color: @buttonBorderColorDisabled;
        color: @buttonForegroundColorDisabled;
        cursor: default;
        pointer-events: none;
        &:hover {
            background-color: @buttonBackgroundColorDisabled;
            border-color: @buttonBorderColorDisabled;
            color: @buttonForegroundColorDisabled;
        }
    }
    // SIZES
    &_size_auto {
        width: 100%;
    }
    // TYPES
    // Reset
    &_type_reset {
        background-color: @cSecondary;
        &:hover {
            background-color: darken(@cSecondary, 5%);
        }
        &:active {
            background-color: @buttonBackgroundColorActive;
            border-color: @buttonBorderColorActive;
        }
    }
}
