@import (reference) './variables';

@padding: 2rem;

.ReactModalPortal > div {
    opacity: 0;
}
.ReactModalPortal > div > div {
    opacity: 0;
    transform: translate(0, -@mDefault);
}
.ReactModalPortal .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: fixed;
    z-index: @zModal;
    &--after-open {
        opacity: 1;
        transition: opacity @dDefault linear;
    }
    &--before-close {
        opacity: 0;
        transition: @dDefault opacity @dDefault*3 linear;
    }
}
.ReactModalPortal .ReactModal__Content {
    background-color: #fff;
    border-top: 5px solid @cAccent;
    box-sizing: border-box;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    left: 50%;
    overflow: auto;
    outline: none;
    padding: @mDefault;
    position: absolute;
    top: @mDefault * 5;
    &-Small {
        @size: 40rem;
        left: calc(50% ~'-' @size / 2);
        padding: @padding * .8 @padding @padding;
        width: @size;
    }
    &-Large {
        @size: 120rem;
        left: calc(50% ~'-' @size / 2);
        padding: @padding * .8 @padding @padding;
        width: @size;
    }
    &--after-open {
        opacity: 1;
        transform: translate(0, 0);
        transition: @dDefault*3 opacity @dDefault linear, @dDefault*3 transform @dDefault cubic-bezier(0,.5,.5,1);
    }
    &--before-close {
        opacity: 0;
        transform: translate(0, -@mDefault);
        transition: @dDefault*3 opacity linear, @dDefault*3 transform cubic-bezier(.5,0,1,.5);
    }
}