/***************************************************************/
/* COMMON COLORS                                               */
/***************************************************************/

// Accent color
@cAccent: #36e;

// Foreground color
@cForeground: #101010;

// Background color
@cBackground: #e0e0e0;

// Sidebar background color
@cSidebar: #f0f0f0;

// Error color
@cError: #e04;

// Warning color
@cWarning: #f70;

// Semi-transparent colors
@cTransparentDark75: rgba(0, 1, 2, .75);
@cTransparentDark50: rgba(0, 1, 2, .5);
@cTransparentDark25: rgba(0, 1, 2, .25);
@cTransparentDark10: rgba(0, 1, 2, .10);
@cTransparentDark05: rgba(0, 1, 2, .05);

/***************************************************************/
/* Z-INDEXES                                                   */
/***************************************************************/

@zModal: 100;
@zDropDown: @zModal + 10;
@zNotification: @zDropDown + 10;

/***************************************************************/
/* DEFAULT PROPERTIES                                          */
/***************************************************************/

// Default size (height or/and width)
@sDefault: 3rem;

// Default margin
@mDefault: 2.4rem;

// Default animation duration or delay
@dDefault: 0.06s;

/***************************************************************/
/* COMPONENTS STYLES                                           */
/***************************************************************/

// Control colors
@controlBackgroundColor: #f0f1f2;
@controlBackgroundColorActive: #303234;
@controlBackgroundColorDisabled: #f0f1f2;
@controlBackgroundColorFocused: #eaebec;
@controlBackgroundColorHover: #eaebec;
@controlBackgroundColorSelected: @cAccent;
@controlForegroundColor: @cForeground;
@controlForegroundColorActive: @controlForegroundColor;
@controlForegroundColorHover: @controlForegroundColor;
@controlForegroundColorDisabled: @cTransparentDark25;
@controlForegroundColorSelected: #fff;
@controlBorderColor: #e0e0e0;
@controlBorderColorActive: @controlBorderColor;
@controlBorderColorDisabled: @controlBorderColor;
@controlBorderColorFocused: @controlBorderColor;
@controlBorderColorHover: @controlBorderColor;
@controlBorderColorSelected: @controlBorderColor;
@controlBorderThickness: 0;
@controlHeight: @sDefault;
@controlPlaceholderColor: @cTransparentDark50;

// ActionButton
@actionButtonDefaultBackgroundColor: @cAccent;
@actionButtonDefaultBackgroundColorActive: @controlBackgroundColorActive;
@actionButtonDefaultBackgroundColorDisabled: @controlBackgroundColorDisabled;
@actionButtonDefaultBackgroundColorHover: darken(@buttonDefaultBackgroundColor, 5%);
@actionButtonDefaultBorderColor: @cAccent;
@actionButtonDefaultBorderColorActive: @controlBackgroundColorActive;
@actionButtonDefaultBorderColorDisabled: @controlBackgroundColorDisabled;
@actionButtonDefaultBorderColorHover: darken(@buttonDefaultBorderColor, 5%);
@actionButtonDefaultBorderRadius: 0;
@actionButtonDefaultBorderThickness: 0;
@actionButtonDefaultForegroundColor: #fff;
@actionButtonDefaultForegroundColorActive: @buttonDefaultForegroundColor;
@actionButtonDefaultForegroundColorDisabled: @controlForegroundColorDisabled;
@actionButtonDefaultForegroundColorHover: @buttonDefaultForegroundColor;
@actionButtonHeight: @sDefault * .8;

// Button
@buttonDefaultBackgroundColor: @cAccent;
@buttonDefaultBackgroundColorActive: @controlBackgroundColorActive;
@buttonDefaultBackgroundColorDisabled: @controlBackgroundColorDisabled;
@buttonDefaultBackgroundColorHover: darken(@buttonDefaultBackgroundColor, 5%);
@buttonDefaultBorderColor: @cAccent;
@buttonDefaultBorderColorActive: @controlBackgroundColorActive;
@buttonDefaultBorderColorDisabled: @controlBackgroundColorDisabled;
@buttonDefaultBorderColorHover: darken(@buttonDefaultBorderColor, 5%);
@buttonDefaultBorderRadius: 0;
@buttonDefaultBorderThickness: 0;
@buttonDefaultForegroundColor: #fff;
@buttonDefaultForegroundColorActive: @buttonDefaultForegroundColor;
@buttonDefaultForegroundColorDisabled: darken(@buttonDefaultBackgroundColorDisabled, 20%);
@buttonDefaultForegroundColorHover: @buttonDefaultForegroundColor;
@buttonResetBackgroundColor: transparent;
@buttonResetBackgroundColorActive: @controlBackgroundColorActive;
@buttonResetBackgroundColorDisabled: @buttonResetBackgroundColor;
@buttonResetBackgroundColorHover: @controlBackgroundColorHover;
@buttonResetBorderColor: transparent;
@buttonResetBorderColorActive: @buttonResetBorderColor;
@buttonResetBorderColorDisabled: @buttonResetBorderColor;
@buttonResetBorderColorHover: @buttonResetBorderColor;
@buttonResetBorderRadius: 0;
@buttonResetBorderThickness: 0;
@buttonResetForegroundColor: @cForeground;
@buttonResetForegroundColorActive: #fff;
@buttonResetForegroundColorDisabled: darken(@buttonResetBackgroundColorDisabled, 20%);
@buttonResetForegroundColorHover: @buttonResetForegroundColor;
@buttonHeight: @sDefault;

// Checkbox
@checkboxBackgroundColor: darken(@controlBackgroundColor, 5%);
@checkboxBackgroundColorActive: darken(@checkboxBackgroundColor, 5%);
@checkboxBackgroundColorChecked: @checkboxBackgroundColor;
@checkboxBackgroundColorDisabled: @checkboxBackgroundColor;
@checkboxBackgroundColorHover: darken(@checkboxBackgroundColor, 5%);
@checkboxBorderColor: transparent;
@checkboxBorderColorActive: @checkboxBorderColor;
@checkboxBorderColorChecked: @checkboxBorderColor;
@checkboxBorderColorDisabled: @checkboxBorderColor;
@checkboxBorderColorHover: @checkboxBorderColor;
@checkboxBorderRadius: 0;
@checkboxBorderThickness: 0;
@checkboxForegroundColor: @cForeground;
@checkboxForegroundColorActive: @checkboxForegroundColor;
@checkboxForegroundColorChecked: @checkboxForegroundColor;
@checkboxForegroundColorDisabled: @checkboxForegroundColor;
@checkboxForegroundColorHover: @checkboxForegroundColor;
@checkboxMarkerColor: @cAccent;
@checkboxMarkerColorActive: @radioMarkerColor;
@checkboxMarkerColorHover: @radioMarkerColor;
@checkboxMarkerColorDisabled: @cTransparentDark25;

// DataTable
@dataTableBorderThickness: 0;
@dataTableColorBackground: transparent;
@dataTableColorBorder: @controlBorderColor;
@dataTableColorForeground: @cForeground;
@dataTableColumnColorBackground: transparent;
@dataTableColumnColorForeground: @cTransparentDark50;
@dataTableColumnColorBackgroundHover: @cTransparentDark05;
@dataTableColumnColorForegroundHover: @cTransparentDark75;
@dataTableColumnArrowColor: @cForeground;
@dataTableFooterColorBorder: @controlBorderColor;
@dataTableHeaderColorBorder: @controlBorderColor;
@dataTableItemColorBackgroundHover: rgba(0, 0, 0, 0.05);
@dataTableItemColorBackgroundSelected: @cAccent;
@dataTableItemColorForegroundSelected: #fff;
@dataTableRowBackgroundColor: transparent;

// ListBox
@listBoxBorderThickness: 0;
@listBoxBackgroundColor: @controlBackgroundColor;
@listBoxBackgroundColorActive: darken(@listBoxBackgroundColor, 3%);
@listBoxBackgroundColorDisabled: @listBoxBackgroundColor;
@listBoxBackgroundColorHover: @listBoxBackgroundColorActive;
@listBoxBorderColor: transparent;
@listBoxBorderColorActive: @listBoxBorderColor;
@listBoxBorderColorDisabled: @controlBackgroundColor;
@listBoxBorderColorHover: @listBoxBorderColor;
@listBoxForegroundColor: @cForeground;
@listBoxForegroundColorActive: @listBoxForegroundColor;
@listBoxForegroundColorDisabled: @cTransparentDark50;
@listBoxColorForegroundHover: @listBoxForegroundColor;
@listBoxHeight: @sDefault;

// ListView & ListViewItem
@listViewItemBackgroundColor: transparent;
@listViewItemBackgroundColorActive: @cAccent;
@listViewItemBackgroundColorHover: @controlBackgroundColorHover;
@listViewItemForegroundColor: @cForeground;
@listViewItemForegroundColorActive: #fff;
@listViewItemForegroundColorHover: @listViewItemForegroundColor;

// NavigationBar & NavigationBarItem
@navigationBarBackgroundColor: transparent;
@navigationBarForegroundColor: #303030;
@navigationBarItemBackgroundColorHover: darken(@cSidebar, 3%);
@navigationBarItemBackgroundColorSelected: @cAccent;
@navigationBarItemForegroundColorHover: @navigationBarForegroundColor;
@navigationBarItemForegroundColorSelected: #fff;
@navigationBarItemSize: 5rem;

// Radio
@radioBackgroundColor: darken(@controlBackgroundColor, 5%);
@radioBackgroundColorActive: darken(@radioBackgroundColor, 5%);
@radioBackgroundColorChecked: @radioBackgroundColor;
@radioBackgroundColorDisabled: @radioBackgroundColor;
@radioBackgroundColorHover: darken(@radioBackgroundColor, 5%);
@radioBorderColor: transparent;
@radioBorderColorActive: @radioBorderColor;
@radioBorderColorChecked: @radioBorderColor;
@radioBorderColorDisabled: @radioBorderColor;
@radioBorderColorHover: @radioBorderColor;
@radioBorderRadius: 0;
@radioBorderThickness: 0;
@radioForegroundColor: @cForeground;
@radioForegroundColorActive: @radioForegroundColor;
@radioForegroundColorChecked: @radioForegroundColor;
@radioForegroundColorDisabled: @cTransparentDark50;
@radioForegroundColorHover: @radioForegroundColor;
@radioMarkerColor: @cAccent;
@radioMarkerColorActive: @radioMarkerColor;
@radioMarkerColorHover: @radioMarkerColor;
@radioMarkerColorDisabled: @cTransparentDark25;

// Textbox
@textboxBorderThickness: 0;
@textboxColorBackground: @controlBackgroundColor;
@textboxColorBackgroundActive: darken(@textboxColorBackground, 3%);
@textboxColorBackgroundDisabled: @textboxColorBackground;
@textboxColorBackgroundHover: @textboxColorBackgroundActive;
@textboxColorBorder: transparent;
@textboxColorBorderActive: @textboxColorBorder;
@textboxColorBorderDisabled: @controlBackgroundColor;
@textboxColorBorderHover: @textboxColorBorder;
@textboxColorForeground: @cForeground;
@textboxColorForegroundActive: @textboxColorForeground;
@textboxColorForegroundDisabled: @cTransparentDark50;
@textboxColorForegroundHover: @textboxColorForeground;
@textboxHeight: @sDefault;

// Toggle
@toggleBackgroundColor: darken(@controlBackgroundColor, 5%);
@toggleBackgroundColorChecked: @cAccent;
@toggleBackgroundColorDisabled: @toggleBackgroundColor;
@toggleBackgroundColorHover: darken(@toggleBackgroundColor, 5%);
@toggleBorderThickness: 2px;
@toggleBorderColor: @toggleBackgroundColor;
@toggleBorderColorChecked: @cAccent;
@toggleBorderColorDisabled: @toggleBackgroundColor;
@toggleBorderColorHover: @toggleBackgroundColorHover;
@toggleHandleBackgroundColor: #fff;
@toggleHandleBackgroundColorChecked: @toggleHandleBackgroundColor;
@toggleHandleBackgroundColorDisabled: @toggleHandleBackgroundColor;
@toggleHandleBackgroundColorHover: @toggleHandleBackgroundColor;

// ToolButton
@toolButtonBorderRadius: 50%;
@toolButtonBorderThickness: 0;
@toolButtonBackgroundColor: @cAccent;
@toolButtonBackgroundColorActive: @controlBackgroundColorActive;
@toolButtonBackgroundColorDisabled: @controlBackgroundColorDisabled;
@toolButtonBackgroundColorHover: darken(@toolButtonBackgroundColor, 5%);
@toolButtonBorderColor: transparent;
@toolButtonBorderColorActive: @controlBackgroundColorActive;
@toolButtonBorderColorDisabled: rgba(0, 0, 0, .15);
@toolButtonBorderColorHover: #000;
@toolButtonForegroundColor: #fff;
@toolButtonForegroundColorActive: @toolButtonForegroundColor;
@toolButtonForegroundColorDisabled: darken(@toolButtonBackgroundColorDisabled, 20%);
@toolButtonForegroundColorHover: #fff;
@toolButtonSize: 3.2rem;

// Window
@cWindowBackground: #fff;
@cWindowBackgroundHover: darken(@cWindowBackground, 2%);
@cWindowBorder: @controlBorderColor;
@cWindowForeground: @cForeground;
@cWindowButtonBackground: transparent;
@cWindowButtonBackgroundActive: @controlBackgroundColorActive;
@cWindowButtonBackgroundHover: darken(@cWindowBackground, 5%);
@cWindowButtonForeground: @cForeground;
@cWindowButtonForegroundActive: #fff;