@import (reference) '../../styles/variables';

.tabs {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    &__item {
        color: @colorSemiTransparent;
        cursor: pointer;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1;
        position: relative;
        text-transform: uppercase;
        transition: color @animationDelayControl linear;
        // Pseudo
        &:after {
            background-color: transparent;
            bottom: -5px;
            content: '';
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            transition: background-color @animationDelayControl linear;
            width: 100%;
        }
        &:hover {
            color: #fff;
        }
        // States
        &_state_selected {
            color: #fff;
            &:after {
                background-color: @colorPrimary;
            }
        }
    }
    //
    &__item + &__item {
        margin-left: 1rem;
    }
    // MODES
    &_mode_collapsed &__item {
        display: none;
        margin-left: 0;
        &_state_selected {
            display: inline-block;
            cursor: default;
            pointer-events: none;
            &:after {
                display: none;
            }
        }
    }
}
