@import (reference) '../../styles/variables';

.grid {
    display: flex;
    justify-content: space-between;
    &__item {
        // SIZES
        &_size_default {
            //
        }
        &_size_default {
            flex: 1;
        }
    }
    &__separator {
        background-color: @cGray10;
        margin: 0 @mDefault;
        width: 1px;
    }
    // ORIENTATIONS
    &_orientation_horizontal {
        flex-direction: row;
    }
    &_orientation_vertical {
        flex-direction: column;
    }
    // SPACING
    &_spacing_full&_orientation_horizontal > &__item + &__item {
        margin-left: @mDefault;
    }
    &_spacing_full&_orientation_vertical > &__item + &__item {
        margin-top: @mDefault;
    }
    // TYPES
    &_type_default {
        //
    }
    &_type_tiled {
        align-content: stretch;
        margin: 0 -@mDefault / 4;
    }
    &_type_tiled &__item {
        padding: 0 @mDefault / 4;
    }
}
