@import (reference) '../../styles/variables';

.grid {
    display: flex;
    height: 100%;
    width: 100%;
    &__item {
        // SIZE
        &_size_auto {
            flex: 0;
        }
        &_size_stretch {
            flex: 1;
        }
    }
    &__separator {
        display: block;
    }
    // ORIENTATIONS
    &_orientation_horizontal {
        flex-direction: row;
    }
    &_orientation_vertical {
        flex-direction: column;
    }
    &_orientation_horizontal &__separator {
        margin: 0 @mDefault / 2;
        width: 0;
    }
    &_orientation_vertical &__separator {
        margin: @mDefault / 4 0;
        height: 0;
    }
}
