@cAccent: #690;
@cPrimary: #1b1d1f;
@cSecondary: #2a2c2e;
@cTertiary: #353739;

@cToolButton: rgba(235, 245, 255, .4);
@cToolButtonDisabled: rgba(235, 245, 255, 0.1);
@cToolButtonHover: rgba(235, 245, 255, .5);
@cToolButtonActive: @cAccent;

// Height of control (inputs, buttons, selects...)
@hControl: 3rem;

@mDefault: 2.4rem;

// ANIMATION
// Default animation delay
@dDefault: 0.3s;

// Delay for controls' animations
@dControl: 0.06s;