// COMMON COLORS
@colorAccent: #37C;
@colorDarkGray: #1b1d1f;
@colorMediumGray: #2a2c2e;
@colorLightGray: #353739;
@colorSemiTransparent: rgba(255, 255, 255, .5);

// CONTROL'S HEIGHT
@controlHeightDefault: 3rem;

// MARGIN
@marginDefault: 2.4rem;

// ANIMATION'S DELAY
@animationDelayDefault: 0.3s;
@animationDelayControl: 0.06s;

// BUTTON
@buttonBorderRadius: 0.4rem;
@buttonBorderThickness: 2px;
@buttonColor: rgba(255, 255, 255, .8);
@buttonColorBackground: rgba(0, 0, 0, 0);
@buttonColorBorder: rgba(255, 255, 255, .8);
@buttonColorActive: rgba(255, 255, 255, 1);
@buttonColorActiveBackground: @colorAccent;
@buttonColorActiveBorder: @colorAccent;
@buttonColorDisabled: rgba(255, 255, 255, .2);
@buttonColorDisabledBackground: rgba(0, 0, 0, 0);
@buttonColorDisabledBorder: rgba(255, 255, 255, .2);
@buttonColorHover: rgba(255, 255, 255, .8);
@buttonColorHoverBackground: rgba(255, 255, 255, .1);
@buttonColorHoverBorder: rgba(255, 255, 255, .8);
@buttonHeight: @controlHeightDefault * 1.1;

// TEXTBOX
@textboxBorderThickness: 1px;
@textboxColor: #fff;
@textboxColorBackground: rgba(0, 0, 0, 0.15);
@textboxColorBorder: rgba(255, 255, 255, 0.15);
@textboxColorDisabledBackground: rgba(0, 0, 0, 0);
@textboxColorDisabledBorder: rgba(255, 255, 255, 0.1);
@textboxColorFocusBackground: rgba(0, 0, 0, 0.2);
@textboxColorFocusBorder: @colorAccent;
@textboxColorHoverBackground: @textboxColorBackground;
@textboxColorHoverBorder: rgba(255, 255, 255, 0.2);
@textboxHeight: @controlHeightDefault;

// TOOLBUTTON
@toolButtonBorderRadius: 50%;
@toolButtonBorderThickness: 2px;
@toolButtonColorBackground: rgba(0, 0, 0, 0);
@toolButtonColorBorder: rgba(255, 255, 255, .8);
@toolButtonColorActiveBackground: rgba(255, 255, 255, 1);
@toolButtonColorActiveBorder: rgba(255, 255, 255, 1);
@toolButtonColorDisabledBackground: rgba(0, 0, 0, 0);
@toolButtonColorDisabledBorder: rgba(255, 255, 255, 0.2);
@toolButtonColorHoverBackground: rgba(0, 0, 0, 0);
@toolButtonColorHoverBorder: rgba(255, 255, 255, .9);
@toolButtonSize: 3.2rem;