@import (reference) '../../styles/variables';

.toolbar {
    font-size: 0;
    position: relative;
    white-space: nowrap;
    &__button {
        background-color: @cToolButtonBackground;
        border: @btToolButton solid @cToolButtonBorder;
        border-radius: @brToolButton;
        box-sizing: border-box;
        color: @cToolButtonForeground;
        cursor: pointer;
        display: inline-block;
        height: @sToolButton;
        font-size: 1.2rem;
        line-height: 1;
        outline: none;
        position: relative;
        transition: color @dDefault,
            background-color @dDefault,
            border-color @dDefault;
        width: @sToolButton;
        svg {
            bottom: 0;
            display: block;
            fill: currentColor;
            height: @sToolButton - .4rem;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: @sToolButton - .4rem;
        }
        //
        &:hover {
            background-color: @cToolButtonBackgroundHover;
            border-color: @cToolButtonBorderHover;
            color: @cToolButtonForegroundHover;
        }
        &:active {
            background-color: @cToolButtonBackgroundActive;
            border-color: @cToolButtonBorderActive;
            color: @cToolButtonForegroundActive;
        }
        // STATES
        // Disabled
        &_state_disabled {
            background-color: @cToolButtonBackgroundDisabled;
            border-color: @cToolButtonBorderDisabled;
            color: @cToolButtonForegroundDisabled;
            pointer-events: none;
        }
    }
    &__separator {
        display: inline-block;
        height: 100%;
        width: 1.2rem;
    }
    //
    &__button + &__button {
        margin-left: 0.4rem;
    }
}
