@import (reference) '../../styles/variables';

.title {
    text-transform: uppercase;
    // Sizes
    &_size_large {
        font-size: 1.8rem;
        font-weight: 400;
    }
    &_size_medium {
        font-size: 1.4rem;
        font-weight: 600;
    }
    &_size_small {
        font-size: 1.2rem;
        font-weight: 600;
    }
    // Themes
    &_theme_dark {
        color: #000;
    }
    &_theme_light {
        color: #fff;
    }
}
