@import (reference) '../../styles/variables';

.title {
    color: @colorPrimary;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    &__label {
        display: inline;
        // Contexts
        &_context_primary {
            color: currentColor;
        }
        &_context_secondary {
            color: @colorSemiTransparent;
            // Pseudo
            &:after {
                color: currentColor;
                content: '➝';
                display: inline;
                margin: 0 1rem;
            }
        }
    }
    // Sizes
    &_size_large {
        font-size: 1.8rem;
        font-weight: 400;
    }
    &_size_medium {
        font-size: 1.4rem;
        font-weight: 600;
    }
    &_size_small {
        font-size: 1.2rem;
        font-weight: 600;
    }
}
