@import (reference) '../../styles/variables';

.navigation-bar {
    background-color: @navigationBarBackgroundColor;
    position: relative;
    &__item {
        box-sizing: border-box;
        color: @navigationBarForegroundColor;
        cursor: pointer;
        display: block;
        height: @navigationBarItemSize;
        position: relative;
        text-decoration: none;
        transition: background-color @dDefault;
        width: @navigationBarItemSize;
        svg {
            display: block;
            height: 100%;
            margin: auto;
            width: 100%;
            use {
                fill: @cAccent;
                color: currentColor;
            }
        }
        &:hover {
            background: @navigationBarItemBackgroundColorHover;
            color: @navigationBarItemForegroundColorHover;
        }
        // ICON
        &_icon_about svg use {
            color: saturate(darken(@cAccent, 10%), 10%);
        }
        // STATE
        // Selected
        &_state_selected {
            background: @navigationBarItemBackgroundColorSelected;
            color: @navigationBarItemForegroundColorSelected;
            svg use {
                fill: #fff;
            }
            &:hover {
                background: @navigationBarItemBackgroundColorSelected;
                color: @navigationBarItemForegroundColorSelected;
            }
        }
        &_state_selected&_icon_about svg use {
            color: #fff;
            fill: #fff;
        }
    }
}
