<div class="categories">
    <div class="categories__toolbar">
        <div class="categories__toolbar-section categories__toolbar-section_title">Категории</div>
        <div class="categories__toolbar-section categories__toolbar-section_buttons">
            <m-tool-button
                    [icon]="'create'"
                    [disabled]="!canCreate"
                    (onClick)="onToolButtonCreateClick($event)"
                    title="Добавить категорию"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'edit'"
                    [disabled]="!canEdit"
                    (onClick)="onToolButtonEditClick($event)"
                    title="Редактировать выбранную категорию"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'delete'"
                    [disabled]="!canDelete"
                    (onClick)="onToolButtonDeleteClick($event)"
                    title="Удалить выбранную категорию"
            ></m-tool-button>
        </div>
    </div>
    <div class="categories__container">
        <div class="categories__container-panel categories__container-panel_filters">
            <m-navigation-pane
                    [items]="categoryTypes"
                    [theme]="'dark'"
                    (onChange)="onNavigationPaneItemChange($event)"
            ></m-navigation-pane>
        </div>
        <div class="categories__container-panel categories__container-panel_items">
            <template [ngIf]="categoriesLength > 0">
                <m-list-view [items]="categoriesSorted" (onChange)="onListViewItemChange($event)">
                    <template let-item="item">
                        <div class="categories__item">
                            <!-- Icon -->
                            <div class="categories__item-column categories__item-column_icon categories__item-column_icon_expense" *ngIf="item.type == 0"
                                 title="Расходная категория">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.00 16.00">
                                    <rect x="3" y="7" fill-opacity="0.6" width="10" height="2"/>
                                    <path d="M 3,10L 13,10L 13,12L 3,12L 3,10 Z M 0,1L 16,1L 16,15L 0,15L 0,1 Z M 2,3L 2,13L 14,13L 14,3L 2,3 Z M 3,4L 13,4L 13,6L 3,6L 3,4 Z "/>
                                </svg>
                            </div>
                            <div class="categories__item-column categories__item-column_icon categories__item-column_icon_income" *ngIf="item.type == 1"
                                 title="Доходная категория">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.00 16.00">
                                    <rect x="3" y="7" fill-opacity="0.6" width="10" height="2"/>
                                    <path d="M 3,10L 13,10L 13,12L 3,12L 3,10 Z M 0,1L 16,1L 16,15L 0,15L 0,1 Z M 2,3L 2,13L 14,13L 14,3L 2,3 Z M 3,4L 13,4L 13,6L 3,6L 3,4 Z "/>
                                </svg>
                            </div>
                            <div class="categories__item-column categories__item-column_icon categories__item-column_icon_mixed" *ngIf="item.type == 2"
                                 title="Доходно-расходная категория">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.00 16.00">
                                    <rect x="3" y="7" fill-opacity="0.6" width="10" height="2"/>
                                    <path d="M 3,10L 13,10L 13,12L 3,12L 3,10 Z M 0,1L 16,1L 16,15L 0,15L 0,1 Z M 2,3L 2,13L 14,13L 14,3L 2,3 Z M 3,4L 13,4L 13,6L 3,6L 3,4 Z "/>
                                </svg>
                            </div>
                            <!---->
                            <div class="categories__item-column categories__item-column_title">{{item.title}}</div>
                            <div class="categories__item-column categories__item-column_description">{{item.description}}</div>
                            <div class="categories__item-column categories__item-column_createdat" title="Дата создания">{{item.createdAt | date:'shortDate'}}
                            </div>
                        </div>
                    </template>
                </m-list-view>
            </template>
            <template [ngIf]="categoriesLength == 0">
                <div class="categories__empty">Нет элементов для отображения</div>
            </template>
        </div>
    </div>
</div>