<div class="goals">
    <div class="goals__toolbar">
        <div class="goals__toolbar-section goals__toolbar-section_title">Цели</div>
        <div class="goals__toolbar-section goals__toolbar-section_buttons">
            <m-tool-button
                    [icon]="'create'"
                    [disabled]="!canCreate"
                    (onClick)="onToolButtonCreateClick($event)"
                    tooltip="Добавить цель"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'edit'"
                    [disabled]="!canEdit"
                    (onClick)="onToolButtonEditClick($event)"
                    tooltip="Редактировать выбранную цель"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'delete'"
                    [disabled]="!canDelete"
                    (onClick)="onToolButtonDeleteClick($event)"
                    tooltip="Удалить выбранную цель"
            ></m-tool-button>
        </div>
    </div>
    <div class="goals__container">
        <div class="goals__container-panel goals__container-panel_filters">
            <m-navigation-pane
                    [items]="filters"
                    [theme]="'dark'"
                    (onChange)="onNavigationPaneItemChange($event)"
            ></m-navigation-pane>
        </div>
        <div class="goals__container-panel goals__container-panel_items">
            <template [ngIf]="goalsLength > 0">
                <m-list-view [items]="goalsSorted" (onChange)="onListViewItemChange($event)">
                    <template let-goal="item">
                        <div class="goals__item">
                            <div class="goals__item-wrapper">
                                <div class="goals__item-icon">
                                    <svg>
                                        <use xlink:href="#icon-goal-category-placeholder"></use>
                                    </svg>
                                </div>
                                <div class="goals__item-content">
                                    <div class="goals__item-category">
                                        {{goal.category.title}}
                                    </div>
                                    <div class="goals__item-details">
                                        <div class="goals__item-details_title">{{goal.title}}</div>
                                        <div class="goals__item-details_amount">
                                            <span class="currency currency_size_medium" tooltip="Накоплено">
                                                <span class="currency__value">{{goal.current | number}}</span>
                                                <span class="currency__code">{{goal.currency.code}}</span>
                                            </span>
                                            из
                                            <span class="currency currency_size_medium" tooltip="Цель">
                                                <span class="currency__value">{{goal.amount | number}}</span>
                                                <span class="currency__code">{{goal.currency.code}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="goals__item-progress" title="{{goal.current | percent:goal.amount}}">
                                        <m-progress-bar [value]="goal.current | percent:goal.amount"></m-progress-bar>
                                    </div>
                                    <div class="goals__item-date">
                                        <span tooltip="Дата создания цели">{{goal.createdAt | date:'shortDate'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </m-list-view>
            </template>
            <template [ngIf]="goalsLength == 0">
                <div class="goals__empty">Нет элементов для отображения</div>
            </template>
        </div>
    </div>
</div>