@import (reference) '../../styles/variables';

.scroll-box {
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 100%;
    &__container {
        box-sizing: border-box;
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        transition: top @dDefault * 2 ease-out;
        width: 100%;
    }
}

.scroll-bar {
    @width: 0.4rem;

    background-color: rgba(0, 0, 0, .05);
    display: block;
    font-size: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    transition: background-color @dDefault linear, opacity @dDefault * 2 linear;
    width: @width;
    &__handle {
        background-color: fade(@cAccent, 80%);
        display: block;
        font-size: 0;
        left: 0;
        position: absolute;
        top: 0;
        transition: top @dDefault * 2 ease-out;
        width: 100%;
    }
    //
    &:hover {
        background-color: rgba(0, 0, 0, .15);
    }
    &:hover &__handle {
        background-color: @cAccent;
    }
    // POSITION
    &_position_inner {
        height: calc(100% ~'-' @width * 2);
        right: @width;
        top: @width;
    }
    &_position_outer {
        height: 100%;
        right: -@width / 2 - @mDefault / 2;
        top: 0;
    }
    // STATE
    &_state_visible {
        cursor: pointer;
        opacity: 1;
        pointer-events: initial;
    }
}