@import (reference) '../../styles/variables';

.status {
    background: @colorMediumGray;
    box-sizing: border-box;
    font-size: 0;
    height: 100%;
    padding: @marginDefault * 0.75 @marginDefault;
    &__title {
        display: block;
    }
    &__view {
        display: block;
        margin-top: @marginDefault;
    }
}