@import (reference) '../../styles/variables';

.status {
    background: @colorMediumGray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0;
    height: 100%;
    padding: @marginDefault * 0.75 @marginDefault;
    &__title {
        display: block;
        flex: 1;
    }
    &__view {
        display: block;
        flex: 1 100%;
        margin-top: @marginDefault;
    }
}