<div class="app">
    <div class="app__panel">
        <div class="app__logo">
                <svg>
                    <rect x="16" y="16" rx="2" ry="2" height="32" width="32" />
                </svg>
        </div>
        <nav class="app__nav">
            <a
                    class="app__nav-item"
                    (click)="setTitle('Обзор')"
                    routerLink="/dashboard"
                    routerLinkActive="app__nav-item_selected"
            >
                <svg>
                    <circle cx="32" cy="32" r="16" />
                </svg>
            </a>
            <a
                    class="app__nav-item"
                    (click)="setTitle('Счета')"
                    routerLink="/databases"
                    routerLinkActive="app__nav-item_selected"
            >
                <svg>
                    <circle cx="32" cy="32" r="16" />
                </svg>
            </a>
        </nav>
    </div>
    <div class="app__container">
        <router-outlet></router-outlet>
    </div>
</div>
<m-modals></m-modals>