<div class="entitites">
    <div class="entitites__toolbar">
        <div class="entitites__toolbar-section entitites__toolbar-section_title">Счета</div>
        <div class="entitites__toolbar-section entitites__toolbar-section_buttons">
            <m-tool-button
                    [icon]="'create'"
                    [disabled]="!canCreate"
                    (onClick)="onToolButtonCreateClick($event)"
                    title="Добавить категорию"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'edit'"
                    [disabled]="!canEdit"
                    (onClick)="onToolButtonEditClick($event)"
                    title="Редактировать выбранную категорию"
            ></m-tool-button>
            <m-tool-button
                    [icon]="'delete'"
                    [disabled]="!canDelete"
                    (onClick)="onToolButtonDeleteClick($event)"
                    title="Удалить выбранную категорию"
            ></m-tool-button>
        </div>
    </div>
    <div class="entitites__container">
        <div class="entitites__container-panel entitites__container-panel_filters">
            <m-navigation-pane
                    [items]="filters"
                    [theme]="'dark'"
                    (onChange)="onNavigationPaneItemChange($event)"
            ></m-navigation-pane>
        </div>
        <div class="entitites__container-panel entitites__container-panel_items">
            <template [ngIf]="entititesLength > 0">
                <m-list-view [items]="entititesSorted" (onChange)="onListViewItemChange($event)">
                    <template let-account="item">
                        <!-- account -->
                        <div class="entitites__item">
                            <div class="entitites__item-icon" [ngSwitch]="account.type">
                                <template [ngSwitchCase]="0">
                                    <svg>
                                        <use xlink:href="#icon-account-type-account"></use>
                                    </svg>
                                </template>
                                <template [ngSwitchCase]="1">
                                    <svg>
                                        <use xlink:href="#icon-account-type-card"></use>
                                    </svg>
                                </template>
                                <template [ngSwitchCase]="2">
                                    <svg>
                                        <use xlink:href="#icon-account-type-cash"></use>
                                    </svg>
                                </template>
                                <template [ngSwitchCase]="4">
                                    <svg>
                                        <use xlink:href="#icon-account-type-deposit"></use>
                                    </svg>
                                </template>
                            </div>
                            <div class="entitites__item-title">{{account.title}}</div>
                            <!-- balances -->
                            <div class="entitites__item-balances">
                                <!-- balance -->
                                <div class="entitites__item-balance" [class.entitites__item-balance_last]="last" *ngFor="let balance of account.balances; let last = last">
                                    <span class="currency currency_size_medium">
                                        <span class="currency__value">{{balance.value | number}}</span>
                                        <span class="currency__code">{{balance.currency.code}}</span>
                                    </span>
                                </div>
                                <!-- /balance -->
                            </div>
                            <!-- /balances -->
                        </div>
                        <!-- /account -->
                    </template>
                </m-list-view>
            </template>
            <template [ngIf]="entititesLength == 0">
                <div class="entitites__empty">Нет элементов для отображения</div>
            </template>
        </div>
    </div>
</div>