@import (reference) '../../styles/variables';

@cRequired: #903;

.make-flexes(@n, @i: 1) when (@i =< @n) {
    &_width_@{i} {
        flex: @i;
    }
    .make-flexes(@n, (@i + 1));
}

.form {
    margin: 0;
    padding: 0;
    &__body {
        display: block;
        &_flow_column {
            display: flex;
            flex-flow: column nowrap;
        }
        &_flow_row {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    &__button {
        display: inline-block;
        margin-left: @mDefault * .25;
    }
    &__buttons {
        margin-top: @mDefault;
        text-align: right;
    }
    &__field {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        &-container {
            display: block;
            flex: 1;
        }
        &-label {
            color: @cTransparentDark75;
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            padding-bottom: 0.2rem;
            text-transform: uppercase;
        }
        // WIDTH
        .make-flexes(16);
        // WIDTH:AUTO
        &_width_auto {
            flex: 0;
        }
    }
    &__group {
        display: block;
        flex: 1;
        // FLOW
        &_flow_column {
            display: flex;
            flex-flow: column nowrap;
        }
        &_flow_row {
            display: flex;
            flex-flow: row nowrap;
        }
        // WIDTH
        .make-flexes(16);
    }
    //
    &__group_flow_column > &__field + &__field {
        margin-top: @mDefault * .75;
    }
    &__group_flow_row > &__field + &__field {
        margin-left: @mDefault * .75;
    }
    &__group_flow_column > &__group + &__group {
        margin-top: @mDefault;
    }
    &__group_flow_row > &__group + &__group {
        margin-left: @mDefault;
    }
}
