@import (reference) '../../styles/variables';

@itemSize: 48px;

.app {
    display: flex;
    height: 100%;
    &__container {
        background: @colorDarkGray;
        display: table-cell;
        vertical-align: middle;
    }
    &__login {
        background: @colorMediumGray;
        border: 2px solid @colorAccent;
        margin: 0 auto;
        padding: @marginDefault @marginDefault * 1.5 @marginDefault * 1.5;
        width: 30rem;
        &-form {
            margin-top: @marginDefault / 2;
        }
        &-header {
            display: table;
            width: 100%;
        }
        &-logo {
            color: @colorAccent;
            display: table-cell;
            font-size: 0;
            text-align: right;
            vertical-align: middle;
            svg {
                fill: currentColor;
                height: 4rem;
                width: 4rem;
            }
        }
        &-title {
            display: table-cell;
            vertical-align: middle;
        }
    }
    &__logo {
        color: saturate(@colorAccent, 10%);
        height: @itemSize;
        line-height: @itemSize;
        position: relative;
        text-align: center;
        svg {
            bottom: 0;
            display: block;
            fill: currentColor;
            height: @itemSize;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: @itemSize;
        }
    }
    &__nav {
        position: relative;
    }
    &__panel {
        flex: 1;
        &_position_left {
            background: @colorDarkGray;
            min-width: @itemSize;
        }
        &_position_middle {
            background: @colorLightGray url('images/bg.svg');
            border-left: 2px solid @colorAccent;
            flex: 1 100%;
            overflow: hidden;
        }
    }
    //
    &_state_unauthorized {
        display: table;
        width: 100%
    }
}