@import (reference) '../../styles/variables';

@itemSize: 48px;

.app {
    display: flex;
    height: 100%;
    &__container {
        background: @colorDarkGray;
        display: table-cell;
        vertical-align: middle;
    }
    &__login {
        background: @colorMediumGray;
        border-top: 3px solid @colorPrimary;
        margin: 0 auto;
        padding: @marginDefault * 1.2 @marginDefault * 1.4 @marginDefault * 1.4;
        width: 30rem;
        &-form {
            margin-top: @marginDefault / 2;
        }
        &-header {
            display: block;
        }
    }
    &__logo {
        color: saturate(@colorPrimary, 10%);
        height: @itemSize;
        line-height: @itemSize;
        position: relative;
        text-align: center;
        svg {
            bottom: 0;
            display: block;
            fill: currentColor;
            height: @itemSize;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: @itemSize;
        }
    }
    &__logout {
        bottom: 0;
        left: 0;
        position: absolute;
    }
    &__nav {
        position: relative;
    }
    &__panel {
        flex: 1;
        &_position_left {
            background: @colorDarkGray;
            min-width: @itemSize;
        }
        &_position_middle {
            background: @colorLightGray url('images/bg.svg');
            border-left: 2px solid @colorPrimary;
            flex: 1 100%;
            overflow: hidden;
        }
    }
    //
    &_state_unauthorized {
        display: table;
        width: 100%
    }
}