<div class="dashboard">
    <div class="dashboard__group">
        <div class="dashboard__item dashboard__item_balance">
            <div class="dashboard__item-header">Баланс</div>
            <div class="dashboard__item-content">
                <div class="dashboard__account" *ngFor="let account of accounts">
                    <div class="dashboard__account-title">{{account.title}}</div>
                    <div class="dashboard__account-balance">{{account.balance | number}}</div>
                </div>
                <div class="dashboard__summary">
                    <div class="dashboard__summary-title">Итого</div>
                    <div class="dashboard__summary-balance">{{accountSummary | number}}</div>
                </div>
            </div>
        </div>
        <div class="dashboard__item dashboard__item_transactions">
            <div class="dashboard__item-header">Последние транзакции</div>
            <div class="dashboard__item-content">
                <div class="dashboard__transaction" *ngFor="let transaction of transactions">
                    <div class="dashboard__transaction-icon dashboard__transaction-icon_income" *ngIf="transaction.type == 0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="20" height="20" viewBox="0 0 20.00 20.00" enable-background="new 0 0 20.00 20.00" xml:space="preserve">
	                        <path fill-opacity="1" stroke-linejoin="round" d="M 10,0C 15.5228,0 20,4.47715 20,10C 20,15.5228 15.5228,20 10,20C 4.47715,20 -6.35783e-007,15.5228 -6.35783e-007,10C -6.35783e-007,4.47715 4.47715,0 10,0 Z M 10,2.00001C 5.58172,2.00001 2,5.58173 2,10C 2,14.4183 5.58172,18 10,18C 14.4183,18 18,14.4183 18,10C 18,5.58173 14.4183,2.00001 10,2.00001 Z M 9,5L 11,5L 11,9L 15,9L 15,11L 11,11L 11,15L 9,15L 9,11L 5,11L 5,9L 9,9L 9,5 Z "/>
                        </svg>
                    </div>
                    <div class="dashboard__transaction-icon dashboard__transaction-icon_expense" *ngIf="transaction.type == 1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="20" height="20" viewBox="0 0 20.00 20.00" enable-background="new 0 0 20.00 20.00" xml:space="preserve">
	                        <path fill-opacity="1" stroke-linejoin="round" d="M 10,0C 15.5228,0 20,4.47715 20,10C 20,15.5228 15.5228,20 10,20C 4.47715,20 -6.35783e-007,15.5228 -6.35783e-007,10C -6.35783e-007,4.47715 4.47715,0 10,0 Z M 10,2.00001C 5.58172,2.00001 2,5.58173 2,10C 2,14.4183 5.58172,18 10,18C 14.4183,18 18,14.4183 18,10C 18,5.58173 14.4183,2.00001 10,2.00001 Z M 15,9L 15,11L 5,11L 5,9L 15,9 Z "/>
                        </svg>
                    </div>
                    <div class="dashboard__transaction-icon dashboard__transaction-icon_transfer" *ngIf="transaction.type == 2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="20" height="20" viewBox="0 0 20.00 20.00" enable-background="new 0 0 20.00 20.00" xml:space="preserve">
	                        <path fill-opacity="1" stroke-linejoin="round" d="M 10,0C 15.5228,0 20,4.47715 20,10C 20,15.5228 15.5228,20 10,20C 4.47715,20 -6.35783e-007,15.5228 -6.35783e-007,10C -6.35783e-007,4.47715 4.47715,0 10,0 Z M 10,2.00001C 5.58172,2.00001 2,5.58173 2,10C 2,14.4183 5.58172,18 10,18C 14.4183,18 18,14.4183 18,10C 18,5.58173 14.4183,2.00001 10,2.00001 Z M 5,11L 5,9.00001L 11,9.00001L 11,7L 15,10L 11,13L 11,11L 5,11 Z "/>
                        </svg>
                    </div>
                    <div class="dashboard__transaction-details" [ngSwitch]="transaction.type">
                        <template [ngSwitchCase]="0">
                            <span class="dashboard__transaction-title">
                                {{transaction.category.title}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.00 7.00">
                                	<path fill-opacity="1" stroke-linejoin="round" d="M 2,3L 19,3L 19,4.76837e-007L 23,3.5L 19,7L 19,4L 2,4L 2,6L 0,6L 0,1L 2,1L 2,3 Z "></path>
                                </svg>
                                {{transaction.accountTo.title}}
                            </span>
                            <span class="dashboard__transaction-description">{{transaction.description}}</span>
                        </template>
                        <template [ngSwitchCase]="1">
                            <span class="dashboard__transaction-title">
                                {{transaction.accountFrom.title}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.00 7.00">
                                	<path fill-opacity="1" stroke-linejoin="round" d="M 2,3L 19,3L 19,4.76837e-007L 23,3.5L 19,7L 19,4L 2,4L 2,6L 0,6L 0,1L 2,1L 2,3 Z "></path>
                                </svg>
                                {{transaction.category.title}}
                            </span>
                            <span class="dashboard__transaction-description">{{transaction.description}}</span>
                        </template>
                        <template [ngSwitchCase]="2">
                            <span class="dashboard__transaction-title">
                                {{transaction.accountFrom.title}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.00 7.00">
                                	<path fill-opacity="1" stroke-linejoin="round" d="M 2,3L 19,3L 19,4.76837e-007L 23,3.5L 19,7L 19,4L 2,4L 2,6L 0,6L 0,1L 2,1L 2,3 Z "></path>
                                </svg>
                                {{transaction.accountTo.title}}
                            </span>
                            <span class="dashboard__transaction-description">{{transaction.description}}</span>
                        </template>
                    </div>
                    <div class="dashboard__transaction-extra">
                        <span class="dashboard__transaction-amount">{{transaction.amount | currency:transaction.currency.code:true}}</span>
                        <span class="dashboard__transaction-time">{{transaction.createdAt | date:'shortDate'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard__item dashboard__item_goals">
            <div class="dashboard__item-header">Цели</div>
            <div class="dashboard__item-content">
                <div class="dashboard__goal" *ngFor="let goal of goals">
                    <div class="dashboard__goal-details">
                        <div class="dashboard__goal-header">
                            <span class="dashboard__goal-title">{{goal.title}}</span><br/>
                            <span class="dashboard__goal-description">{{goal.description}}</span>
                        </div>
                        <div class="dashboard__goal-amount">
                            {{goal.amount | currency:goal.currencyCode:true}}<br/>
                            <span class="dashboard__goal-time">{{goal.reachedAt | date:'shortDate'}}</span>
                        </div>
                    </div>
                    <div class="dashboard__goal-progress">
                        <m-progress-bar [value]="goal.current|percent:goal.amount"></m-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>