@import (reference) '../../styles/variables';

@itemSize: 48px;

.navigation-bar {
    background-color: @navigationBarBackgroundColor;
    position: relative;
    &__item {
        box-sizing: border-box;
        color: @navigationBarForegroundColor;
        cursor: pointer;
        display: block;
        height: @itemSize;
        position: relative;
        transition: background-color @dDefault linear;
        width: @itemSize;
        svg {
            display: block;
            fill: currentColor;
            height: @itemSize;
            margin: auto;
            width: @itemSize;
        }
        &:hover {
            background: @navigationBarItemBackgroundColorHover;
            color: @navigationBarItemForegroundColorHover;
        }
        // ICONS
        &_icon_logout {
            svg {
                fill: none;
                stroke: currentColor;
            }
        }
        &_icon_server {
            svg use {
                    fill: @cPrimary;
                    color: @cSecondary;
            }
        }
        // Status
        &_icon_status {
            svg use {
                    fill: @cPrimary;
                    color: @cSecondary;
            }
        }
        // STATES
        // Selected
        &_state_selected {
            background: @navigationBarItemBackgroundColorSelected;
            color: @navigationBarItemForegroundColorSelected;
            &:hover {
                background: @navigationBarItemBackgroundColorSelected;
                color: @navigationBarItemForegroundColorSelected;
            }
        }
    }
}
