@import (reference) '../../styles/variables';

@itemSize: 48px;

.navigation-bar {
    position: relative;
    &__item {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: @itemSize;
        position: relative;
        width: @itemSize;
        svg {
            display: block;
            fill: #fff;
            height: @itemSize;
            margin: auto;
            opacity: 0.7;
            width: @itemSize;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
        // ICONS
        &_icon_logout {
            svg {
                fill: none;
                stroke: #fff;
            }
        }
        // Status
        &_icon_status {
            svg {
                fill: none;
                stroke: #fff;
            }
        }
        // STATES
        // Selected
        &_state_selected {
            background: @colorPrimary;
            svg {
                opacity: 1;
            }
            &:hover {
                background: @colorPrimary;
            }
        }
    }
}
