@import (reference) '../../styles/variables';

@sDefault: 1.6rem;

.toggle {
    cursor: pointer;
    display: table;
    position: relative;
    width: 100%;
    &__control {
        display: block;
        position: absolute;
        right: 0;
        top: calc(~'50% - ' @sDefault / 2);
        &-knob {
            background-color: @toggleBorderColor;
            border-radius: 50%;
            height: @sDefault - 0.6rem;
            left: 0.1rem;
            position: absolute;
            top: 0.1rem;
            transition: transform @animationDelayControl ease-out;
            width: @sDefault - 0.6rem;
        }
        &-rectangle {
            background-color: @toggleBackgroundColor;
            border: @toggleBorderThickness solid @toggleBorderColor;
            border-radius: @sDefault;
            box-sizing: border-box;
            height: @sDefault;
            position: relative;
            transition: background-color @animationDelayControl linear, border-color @animationDelayControl linear;
            width: @sDefault * 2 - 0.6rem;
        }
    }
    &__label {
        display: block;
        font-size: 1.3rem;
        padding-right: @sDefault * 2 + 1rem;
    }
    // PSEUDO
    &:hover &__control-rectangle {
        border-color: @toggleBorderColorHover;
    }
    // STATES
    &_state_checked &__control-knob {
        transform: translate(100%, 0);
    }
    &_state_checked &__control-rectangle {
        background-color: @toggleBackgroundColorChecked;
    }
}
