@import (reference) '../../styles/variables';

.data-table {
    border-collapse: collapse;
    position: relative;
    width: 100%;
    &__footer {
        border-top: 1px solid lighten(@colorMediumGray, 15%);
    }
    &__header {
        border-bottom: 1px solid lighten(@colorMediumGray, 15%);
    }
    &__column {
        color: rgba(255, 255, 255, .5);
        font-size: 1rem;
        padding: @marginDefault / 4 @marginDefault / 2;
        text-align: left;
        text-transform: uppercase;
    }
    &__item {
        cursor: pointer;
        transition: background-color @animationDelayControl linear;
        &-cell {
            padding: @marginDefault / 4 @marginDefault / 2;
        }
        //
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
        //
        &_state_selected {
            background-color: @colorAccent;
            &:hover {
                background-color: @colorAccent;
            }
        }
    }
}
